* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
    color: #555;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #32c85a;
    color: white;
    display: flex;
    align-items: center;
}

.btn-primary:hover {
    background-color: #2aaa4c;
}

.btn-secondary {
    background-color: #333;
    color: white;
}

.btn-secondary:hover {
    background-color: #555;
}

header {
    background-color: rgba(17, 17, 17, 0.75);
    width: 100%;
    backdrop-filter: blur(12px);
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease-out;
}

header.navbar-hidden {
    transform: translateY(-100%);
}

.logo {
    width: 20%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.navbar ul {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #ffffff;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 4px;
}

.navbar a:hover,
.navbar a:focus {
    color: #000000;
    background-color: #ffffff;
}

.hero {
    padding: 60px 0;
    background-color: black;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-text p {
    font-size: 1.1rem;
    color: #666;
}

.hero-image {
    flex-basis: 40%;
}

.hero-logo {
    width: 50%;
    margin-bottom: 5px;
}


.projects {
    padding: 60px 0;
    background-color: white;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

ct .project-card {
    flex-basis: 50%;
    max-width: 500px;
}

.project-card img {
    border-radius: 8px;
    margin-bottom: 15px;
}

.insight {
    padding: 60px 0;
    background-color: black;
    color: white;
}

.insight h2 {
    color: white;
}

.insight-item {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.insight-image {
    flex: 1;
}

.insight-image img {
    border-radius: 8px;
}

.insight-text {
    flex: 1;
}

.insight-text h3 {
    margin-bottom: 20px;
}

.insight-text h4 {
    color: #32c85a;
    margin-top: 15px;
    margin-bottom: 5px;
}

.insight-text p, li {
    color: #ccc;
}

.insight-text li {
    margin-bottom: 5px;
}

.insight-text ol {
    padding-left: 25px;
    margin-top: 5px;
}
.cta {
    padding: 80px 0;
    background-image: url('https://alfiyantoghani.github.io/test-landing-page/assets/img/Rectangle-7.svg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cta-container {
    position: relative;
    /* Agar konten tampil di atas overlay */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cta h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.cta p {
    color: white;
}

.cta a {
    gap: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .nav-container {
        flex-direction: column;
        gap: 15px;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
    }

    .hero-image {
        flex-basis: auto;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }

    .insight-item {
        flex-direction: column;
        text-align: center;
    }
}